@font-face {
  font-family: 'Mabry Pro';
  src: url('/assets/font/MabryPro-Regular.woff') format('woff'),
       url('/assets/font/MabryPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mabry Pro';
  src: url('/assets/font/MabryPro-Medium.woff') format('woff'),
       url('/assets/font/MabryPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mabry Pro';
  src: url('/assets/font/MabryPro-Bold.woff') format('woff'),
       url('/assets/font/MabryPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mabry Pro';
  src: url('/assets/font/MabryPro-Black.woff') format('woff'),
       url('/assets/font/MabryPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mabry Pro';
  src: url('/assets/font/MabryPro-Light.woff') format('woff'),
       url('/assets/font/MabryPro-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body, html {
  margin: 0;
  font-family: 'Mabry Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-title {
  transition: background 0.2s, color 0.2s;
  background: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
  background-clip: text;
  text-fill-color: #fff;
}

.nav-title:hover {
  background: url('/assets/gradient.png') center/cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  text-fill-color: transparent;
}
